.Nav {
    min-height: 100vh;
    width: 20%;
    background: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Nav h2 { 
    font-weight: 1000;
    color: #fff;
}

.Nav ul {
    list-style: none;
}

.Nav .SocialMediaPlatforms li Link {
    color: purple;
}
